body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
  color: white;
}

.encabezadoDiv {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: rgba(76, 104, 103, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logoDiv img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  transition: transform 00.3s;
}

.logoDiv img:hover {
  transform: scale(1.05);
}

.menuDiv ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menuDiv ul li {
  background-color: #3a5e5c;
  color: white;
  padding: 8px 18px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.menuDiv ul li:hover {
  background-color: #2c3d3a;
  color: #ffffff;
  transform: translateY(-2px);
}

.LoguinDiv ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.LoguinDiv ul li {
  background: #477e8b;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  user-select: none;
}

/* Hover */
.LoguinDiv ul li:hover {
  background: #5ca0ac;
  transform: translateY(-2px);
}

/* Click */
.LoguinDiv ul li:active {
  transform: scale(0.95);
}
