.footer {
    width: 100%;
    height: 120px;
    background: linear-gradient(135deg, #ddf7e0, #dbdbeb);
    display: flex;
    align-items: center;
    justify-content: space-between; /* uno a la izquierda, otro a la derecha */
    padding: 0 50px; /* espacio desde los bordes */
    color: #156464;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 -4px 10px rgba(162, 193, 197, 0.3);
}

.footer .left,
.footer .right {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}
